body{
  background-color: black;
}

h1{
  margin: auto;
  font-size: 200px;
  padding: 10px 20px;
  background-color: gray;
  width: 300px;
  height: 300px;
  text-align: center;
}

button{
  padding: 10px;
  background-color: gray;
  margin: 20px;
}